.bgText {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: #888;
};

.topText {
    top: 0;
}

.bottomText {
    bottom: 0;
}

.scrollWrapStyle {
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.stickyHeader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

